.root{
    -fx-background-color: #FAFAFA;
}

.button{
    -fx-background-color: #212121;
    -fx-text-fill: #FAFAFA
}

#titleText{
    -fx-font-size: 32px;
    -fx-font-Family: "Cambria";
    -fx-text-fill: #EF5350;
    -fx-text-alignment: CENTER;
}

#clientsWaitingTable .table-column{
    -fx-alignment: CENTER;
}

#clientsAttendedTable .table-column{
    -fx-alignment: CENTER;
}

